scanmatcher_manager {
    channel = "LASER";
}

scanmatcher {
    decimate = 1;
    max_scan_history = 5;
    meters_per_pixel = 0.025;
    range_covariance = 0.0035;

    use_odometry = false;
    search_x_m = 0.2;
    search_y_m = 0.2;
    search_theta_deg = 45;
    search_theta_res_deg = 1;

    pose_dist_thresh_m = 0.4;
    pose_theta_thresh_deg = 25;
}

LASER {
    position = [ 0, 0, 0];
    rollpitchyaw_degrees = [ 0, 0, 0];
    max_range = 79;
}
