//overall slam parameters 
Slam{
	useOdom = true;
	closeLoop = true;
	noisyOdom = true;
	includeDoors = true;
	
	openMetersPerPixel = 0.05;
	openSearchRange = 0.2;
	openSearchTheta = 15;
	openSearchThetaRes = 1;
	openGridMapSize = 20;
	scanDecay = 5;
	
	closeMatchScore = 8000;
	closeThetaRange = 10;
	closeThetaRangeRes = 1;
	closeSearchRange = 10;
	
	distErr = 0.15;
	rotErr = 0.1;
	poseDistThresh = 1;
	poseRotThresh = 25;
	decimate = 1;
}

//scan matcher parameters (search info for open loop info here)
LoopMatcher{
	metersPerPixel = 0.05;
	gridMapSize = 20;
	distErr = 0.15;
	rotErr = 0.1;
	minMatchScore = 5100;
	thetaRange = 90;
	thetaRangeRes = 1;
	xyRange = 0.15;
	xCov = 1.0;
	yCov = 1.0;
	tCov = 5.0;
}

//loop closure task parameters
LoopCloser{
	maxLoopLength = 4;
	maxMatchAttempts = 40;
	maxAddedEdges = 10;
	maxHypothesisAge = 10;
	minTrace = 0.2;
	maxMahal = 1.0;
	hypoThresh = 5.0;
	removeOldHypoEdges = false;
}

//door finder task parameters
DoorFinder{
	maxPoints = 30;
	angThresh = 50;
	distThresh = 0.05;
	gapThresh = 2;
	doorDist = 50; 
	windowThresh = 1; 
	lowerDoorSize = 1.0;
	upperDoorSize = 5.0;
	lineFitThresh = 0.05; 
	linePoints = 4; 
	maxDoors = 10;
	
	upperAssociationThresh = 3; 
	lowerAssociationThresh = 0.5; 
}
