productions=combined
learning-policy=sarsa
learning-rate=0.3
discount-rate=0.9
eligibility-trace-decay-rate=0
eligibility-trace-tolerance=0.001
exploration=epsilon-greedy
epsilon=0.1
auto-reduce=on
reduction-policy=exponential
reduction-rate=0.9999
rl-rules-file=rl_rules
load-rl-rules=no
save-rl-rules=yes
csv=log-run_combined
